body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.manasa-logo {
    font-family: Roboto;
    font-size: 25px;
}

header {
    display: flex;
    position: fixed;
    padding: 10px;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 0;
    justify-content: space-between;
    height: 10%;
    background-color: #eee;
}

header ul {
    display: flex;
}

header li {
    list-style-type: none;
    margin-right: 30px;
}

header a {
    text-decoration: none;
    color: black;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border: tomato 1px solid;
}

img {
    border-radius: 50%;
    width: 150px;
}

p {
    width: 60%;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #00C9FF, #92FE9D);
    opacity: 0.8;
    height: 20vh;
}

#about {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171__480.jpg');
}

#projects {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/beach-quotes-1559667853.jpg');
}

#education {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('https://thebridge.in/h-upload/2021/07/29/12338-lovely-professional-university.webp');
}

#skills {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('https://wallpapercave.com/wp/wp4974476.jpg');
    background-color: white;
}

#interests {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/beach-quotes-1559667853.jpg');
}

#contact_me {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('https://st2.depositphotos.com/1265075/7365/i/600/depositphotos_73656201-stock-photo-web-contact-us-icons-cubes.jpg');
    height: 60vh;
}

section a {
    font-weight: bold;
}

section font {
    font-weight: bold;
}